<div class="top-panel">
  <div class="top-panel-cl">
    <div class="panel-title">{{help_center.name}}</div>
    <div class="top-chevron"></div>
  </div>
  <ul class="top-categories-list" id="top-categories-list">
    <!-- Categories will be dynamically added here -->
  </ul>
</div>
<aside class="side-panel"
       data-show-articles="{{settings.show_articles_in_navigation}}"
       data-article-limit="{{settings.side_panel_article_limit}}">
    <nav class="sub-nav">
      <div class="search-container">
        {{search scoped=settings.scoped_kb_search submit=false}}
      </div>
      <ol class="breadcrumbs">
     {{help_center.name}}
      </ol>
    </nav>
  <!-- Add content for side panel here -->
  <ul class="categories-list" id="categories-list">
    <!-- Categories will be dynamically added here -->
  </ul>
</aside>
<div class="container">
<div class="container-divider"></div>
<div id="main-content" class="error-page">
  <h1>{{t 'oops'}}</h1>

  {{#is error 'unauthorized'}}
    <h2>{{link 'sign_in'}}</h2>
  {{/is}}

  {{#is error 'forbidden'}}
    <h2>{{t 'not_authorized'}}</h2>
  {{/is}}

  {{#is error 'not_found'}}
    <h2>{{t 'nonexistent_page'}}</h2>
    <p>{{t 'mistyped_address_or_moved_page'}}</p>
  {{/is}}

  {{#link 'help_center'}}
    {{t 'back_to_homepage'}}
  {{/link}}
</div>
</div>